// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Roboto", sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.5;
